#Apps
VK_LCONTROL+VK_MENU+Q C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Google Chrome.lnk
VK_LCONTROL+VK_MENU+W powershell
VK_LCONTROL+VK_MENU+E C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Sublime Text 3.lnk
VK_LCONTROL+VK_MENU+R C:\Program Files (x86)\KeePass Password Safe 2\KeePass.exe

#Media
VK_LCONTROL+VK_MENU+VK_LEFT VK_MEDIA_PREV_TRACK
VK_LCONTROL+VK_MENU+VK_RIGHT VK_MEDIA_NEXT_TRACK
VK_LCONTROL+VK_MENU+VK_UP VK_MEDIA_PLAY_PAUSE
VK_LCONTROL+VK_MENU+VK_DOWN VK_VOLUME_MUTE
VK_LCONTROL+VK_MENU+VK_NEXT VK_VOLUME_DOWN
VK_LCONTROL+VK_MENU+VK_PRIOR VK_VOLUME_UP