#(Hotkey0+Hotkey1+...) (delay in seconds:-1 if button release required) (buttonToPress or file to run)

#Apps
VK_LCONTROL+VK_MENU+Q -1 C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Google Chrome.lnk
VK_LCONTROL+VK_MENU+W -1 powershell
VK_LCONTROL+VK_MENU+E -1 C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Sublime Text 3.lnk
VK_LCONTROL+VK_MENU+R -1 C:\Program Files (x86)\KeePass Password Safe 2\KeePass.exe

#Media
VK_LCONTROL+VK_MENU+VK_LEFT -1 VK_MEDIA_PREV_TRACK
VK_LCONTROL+VK_MENU+VK_RIGHT -1 VK_MEDIA_NEXT_TRACK
VK_LCONTROL+VK_MENU+VK_UP -1 VK_MEDIA_PLAY_PAUSE
VK_LCONTROL+VK_MENU+VK_DOWN -1 VK_VOLUME_MUTE
VK_LCONTROL+VK_MENU+VK_OEM_7 0.075 VK_VOLUME_DOWN
VK_LCONTROL+VK_MENU+VK_OEM_6 0.075 VK_VOLUME_UP